html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');



/* SCREEN */
.screen-outer {
    width: 100%;
    height: 100vh;
    /* background-color: #282828; */
    /* width: 310px;
    height: 310px; */
 
}

.screen-inner {
    width: 65000px;
    height: 65000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 100px solid black;
}

/* BRANCH */
.branch-inner {
    position: relative;
}


/* PERSON */
.person-container {
    display: flex;
    width: 300px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.person-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
}

/* First node */
.branch-outer > .branch-inner > .person-outer {
    justify-content: flex-end;
}

.person-inner {
    display: flex;
    align-items: flex-end;
    margin: 0 50px;
    height: 200px;
}

.person {
    transition: .4s;
    width: 240px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px  rgba(0,0,0,.15);
    outline: 5px solid transparent;
    outline-offset: 6px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.person:hover {
    width: 260px;
    height: 220px;
    transition: .4s;
    outline-color: rgb(16, 172, 81);
}

.person.partner {
    order: 1;
    width: 200px;
    height: 160px;
}

.person.partner:hover {
    width: 220px;
    height: 180px;    
}


.person-icon {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    left: 20px;
    bottom: 100px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 3px  rgba(0,0,0,.15);
    outline: 5px solid transparent;
    outline-offset: 4px;
    transition: .4s;
    background-image: url('father.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.person.partner .person-icon {
    width: 140px;
    height: 140px;
    left: 30px;
    background-image: url('mother.jpg');
    background-size: contain;
}

.person:hover .person-icon {
    width: 220px;
    height: 220px;
    transition: .4s;
    outline-color: rgb(16, 172, 81);
}

.person.partner:hover .person-icon {
    width: 160px;
    height: 160px;
}

.person-name-container {
    text-align: center;
    padding: 30px 0;
    width: 100%;
    height: 40px;
}

.person-name {
    color: grey;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

/* Lines */
.vertical-line {
    width: 10px;
    height: 300px;
    background-color: black;
}

.vertical-line-has-parent {
    height: 400px;
    width: 10px;
    background-color: black;
}

/* No vertical-line-has-parent for first and last child of .branch-inner.has-sibling */
.branch-inner.has-sibling:first-child > .person-outer > .vertical-line-has-parent,
.branch-inner.has-sibling:last-child > .person-outer > .vertical-line-has-parent {
    background-color: transparent;
}

/* Horizontal line node-sibling */
.branch-inner.has-sibling::before {
    position: absolute;
    content: "";
    height: 410px;
    width: 100%;
    top: -10px;
    left: 0;
    border-top: 10px solid #000;
}

/* Curve line first-child node-child-sibling*/
.branch-inner.has-sibling:first-child::before {
    width: 49.6%;
    border-left: 10px solid #000;
    right: 0;
    left: auto;
    border-top-left-radius: 30px;
}

/* Curve line last-child  node-child-sibling*/
.branch-inner.has-sibling:last-child::before {
    border-right: 10px solid #000;
    width: 49.6%;
    border-top-right-radius: 30px;
}

/* NODE */
.node-parent {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 900px;
}

.node-children {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 900px;
}





